<template>
  <v-dialog v-model="activityDialogStore.dialog" max-width="500px">
      <v-card>
      <v-card-title>The winner is ... 
        <v-chip
            class="ma-2"
            color="red"
            text-color="white">
            {{ props.activity.type }}
        </v-chip></v-card-title>
      <v-card-text>
          <p>{{ props.activity.name }}</p>
      </v-card-text>
      <v-card-actions>
          <v-btn color="primary" @click="activityDialogStore.setDialog(false)">Fermer</v-btn>
      </v-card-actions>
      </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Activity } from '../types/activity'
import { useActivityDialogStore } from '../store/activityDialog';

const activityDialogStore = useActivityDialogStore()

const props = defineProps<{
  activity: Activity
}>()

</script>
