<template>
  <Roulette 
  ref="wheel" 
  size="600" 
  :items="items" 
  @click="launchWheel" 
  duration="4"
  centered-indicator = true
  base-display=true
  base-display-indicator=true
  @wheel-start="wheelStartedCallback"
  @wheel-end="wheelEndedCallback"
  />
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { Roulette } from "vue3-roulette";
import { Activity } from '../types/activity'
import Swal from 'sweetalert2'

const props = defineProps<{
  activities: Activity[]
}>()

const wheel = ref(null);

const items = props.activities.map((activity) => ({
  id: activity.id,
  name: activity.name,
  type: activity.type,
  htmlContent: activity.name,
  textColor: "",
  background: "",
}))


function launchWheel (){
  wheel.value.launchWheel();
}

function wheelEndedCallback (){
    let title = wheel.value.itemSelected.name + '\n' + wheel.value.itemSelected.type
    Swal.fire({
    title: title,
    icon: 'success',
    confirmButtonText: 'YEYY'
  })

}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
