<template>
  <LuckyWheel :activities="activities" />
</template>

<script lang="ts" setup>
import { Ref, ref } from 'vue'

import LuckyWheel from '../components/LuckyWheel.vue'
import { Activity } from '../types/activity'

const activities: Ref<Activity[]> = ref([
  {
    id: 1,
    name: "Sword Art Online Progressive",
    type: 'movie'
  },
  {
    id: 2,
    name: "Payday 2",
    type: 'game',
  },
  {
    id: 3,
    name: "Tenet",
    type: 'movie'
  },
  {
    id: 4,
    name: "Development !",
    type: 'work',
  },
  {
    id: 5,
    name: "Fall Guys",
    type: "game",
  },
  {
    id: 6,
    name: "Detroit become human",
    type: 'game'
  },
  {
    id: 7,
    name: "Phasmophobia",
    type: 'game'
  },
  {
    id: 8,
    name: "Life is Strange",
    type: 'game'
  }
])
</script>
